{% extends "layout.html" %}
{% block body %}
  <h2>Add Asset</h2>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

<div="container">
<table class="table">
    <thead align="center">
        <tr>
            <th style="text-align:center !important">Asset PK</th>
            <th style="text-align:center !important">Asset Tag</th>
            <th style="text-align:center !important">Description</th>
            <th style="text-align:center !important">Disposed</th>
        </tr>
    </thead>
    <tbody>
    {% for entry in session.assets %}
    <tr>
        <td>{{ entry.asset_pk }}</td>
        <td>{{ entry.asset_tag }}</td>
        <td>{{ entry.description }}</td>
        <td>{{ entry.disposed }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table> 
</div>

  <form action="{{ url_for('add_asset') }}" method="post">
    <dl>
      <dt>Facility:
      <dd><select name="facility">
          {% for entry in session.facilities %}
            <option value="{{ entry.fkey }}">{{ entry.name }}</option>
          {% endfor %}
      </select>
      <dt>Asset Tag:
      <dd><input type="text" name="asset_tag" maxlength="16">
      <dt>Description:
      <dd><input type="text" name="description" maxlength="128">
      <dt>Asset Arrival Date:
      <dd><input type="date" name="date">
      <br>
      <br>
	  <dd><input type="submit" value="Add Asset">
    </dl>
  </form>
{% endblock %}
