{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<div="container">
<table class="table">
    <thead align="center">
        <tr>
            <th style="text-align:center !important">Convoy PK</th>
            <th style="text-align:center !important">Source Tag</th>
            <th style="text-align:center !important">Dest PK</th>
            <th style="text-align:center !important">Depart DT</th>
            <th style="text-align:center !important">Arrive DT</th>
        </tr>
    </thead>
    <tbody>
    {% for entry in session.processed_data_session_name %}
    <tr>
        <td>{{ entry.convoy_pk }}</td>
        <td>{{ entry.source_fk }}</td>
        <td>{{ entry.dest_fk }}</td>
        <td>{{ entry.depart_dt }}</td>
        <td>{{ entry.arrive_dt }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table> 
</div>
{% endif %}
{% endblock %}
